body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
  color: #434455;
  line-height: 1.5;        
  letter-spacing: 0.02em;  
}
ul{
  list-style-type: none;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2E2F42;
  text-decoration: none;
}
.logo-part {
  color: #4D5AE5;
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #F4F4FD;
  text-decoration: none;
}
.logo-part-footer {
  color: #4D5AE5;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-decoration: none;
}
.address-contact{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  font-style: normal;
}
.nav-link:hover,
.nav-link:focus{
color: #404BBF;
}
.address-contact:hover, 
.address-contact:focus{
color: #404BBF;
}
.hero-section {
  background-color: #2E2F42;
  text-align: center;
}
.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-align: center;
}
.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background-color: #4D5AE5;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404BBF;
}
.team{
  background-color: #F4F4FD;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2E2F42;
}
.team-title{
  font-weight: 700;
  font-size: 36px;
  color: #2E2F42;
  text-align: center;
}
.team h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
}
.team p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.team li {
  background-color: #FFFFFF;
}
.features h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.features p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2E2F42;
}
.portfolio h3{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.portfolio p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer{
  background-color: #2E2F42;
  color: #f4f4fd;
  font-size: 16px;
}