body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  line-height: normal;
  letter-spacing: normal;
}
ul{
  list-style-type: none;
}
.logo{
color: #2E2F42;
text-decoration: none;
}
.weird{
color: #4D5AE5;
}
.logo-footer{
color: #F4F4FD;
text-decoration: none;
}
.nav-link, .address-contact{
text-decoration: none;
color: #2E2F42;
font-style: normal;
}
.nav-link:hover, .address-contact:hover nav-link:focus, .address-contact:focus{
cursor: pointer;
color: pink;
}
.hero-section {
  background-color: #2E2F42;
  text-align: center;
}
.hero-title {
  color: #FFFFFF;
}
.hero-button {
  background-color: #4D5AE5;
  color: #FFFFFF;
  cursor: pointer;
}
.hero-button:hover, .hero-button:focus {
  background-color: #1e3a8a;
}
.team{
  background-color: #F5F6FA;
}
.team li{
  background-color: #FFFFFF;
}
.team h2 {
  background-color: #F5F6FA;
  text-align: center;
}
.team h3 {
  background-color: #FFFFFF;
  text-align: center;
}
.team p{
  background-color: #FFFFFF;
  text-align: center;
}
.team img{
  align-items: flex-start;
}
.footer{
  background-color: #2E2F42;
  color: #FFFFFF;
  font-size: 16px;
}