body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
  color: #434455;
  line-height: 1.5;        
  letter-spacing: 0.02em;  
}
ul{
  list-style-type: none;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
  text-decoration: none;
}
.logo-part {
  color: #2E2F42;
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
  text-decoration: none;
}
.logo-part-footer {
  color: #F4F4FD;
}
.address-contact,
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-decoration: none;
}
.nav-link:hover,
.address-contact:hover, 
.nav-link:focus, 
.address-contact:focus{
color: #404BBF;
}
.hero-section {
  background-color: #2E2F42;
  text-align: center;
}
.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-align: center;
}
.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background-color: #4D5AE5;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404BBF;
}
.team{
  background-color: #F4F4FD;
}
.team li{
  background-color: #FFFFFF;
}
.team h2 {
  background-color: #F5F6FA;
  text-align: center;
}
.team h3 {
  background-color: #FFFFFF;
  text-align: center;
}
.team p{
  background-color: #FFFFFF;
  text-align: center;
}
.team img{
  align-items: flex-start;
}
.footer{
  background-color: #2E2F42;
  color: #FFFFFF;
  font-size: 16px;
}